.header,
.menu-mb {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background: #fff;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_logo {
  background-color: #eee;
  padding: 10px;
  border-radius: 70px;
  margin-right: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.form {
  position: relative;
  margin-top: 0;
  box-shadow: none;
  align-self: center;
}

.input_header {
  padding: 10px 16px;
  box-sizing: content-box;
  border: 1px solid #d6d6d6;
  background: none;
  height: 27px;
  display: flex;
  align-items: center;
  outline: none;
  padding-left: 40px;
  width: 400px;
}

.icons_search {
  position: absolute;
  top: 9px;
  left: 15px;
}

/* right */
.col_right {
  align-self: center;
}

.header_right {
  justify-content: flex-end;
  text-align: right;
}

.header_right ul.ul-wrap {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_right ul li.li_menu {
  display: inline-block;
  margin-left: 20px;
  font-size: .875rem;
  letter-spacing: .2px
}

.header_right ul li .menu_link {
  font-weight: 700;
  color: #222;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
}

.header_right ul li .menu_link:hover {
  color: #f65e39;
}

/* dropdown */
.btn--dropdown {
  font-size: .875rem;
  background: #f6f6f6;
  padding: 0.3125rem 1.75rem 0.3125rem 0.3125rem;
  border-radius: 2rem;
}

.menu__link--user {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}

.btn--dropdown:before {
  content: "";
  position: absolute;
  border: 0.3125rem solid transparent;
  border-top-color: #222;
  right: 12px;
  top: calc(50% - 2.5px);
}

.user-avatar {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}

.user-avatar>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popover--user-menu {
  position: absolute;
  background: #fff;
  border: 1px solid;
  min-width: 277px;
  padding: 0;
  opacity: 1;
  visibility: visible;
  border: 1px solid #d6d6d6;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  border-radius: 0.1875rem;
  right: 0;
  text-align: left;
  transition: top .3s, opacity .3s;
  z-index: 3;
  display: none;
}

.popover--user-menu:before {
  content: "";
  top: -0.5rem;
  right: 2rem;
  transform: rotate(45deg);
  height: 1rem;
  width: 1rem;
  border-top-left-radius: 3px;
  box-shadow: 0 0 0 1px rgb(6 44 82 / 10%), 0 2px 16px rgb(33 43 54 / 8%);
}

.menu-item:hover .popover--user-menu {
  display: block;
  transition: top .3s, opacity .3s;
}

.user-menu {
  background: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__link {
  padding: 13px 16px !important;
  display: block;
  box-shadow: 0 1px 0 0 #eeeef0;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: #222;
}

.user-menu__link:hover {
  font-weight: 500;
  color: #f65e39;
  transition: all .2s;
}

.user-menu__link:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background: linear-gradient(270deg, #f68a39, #f65e39);
  border-radius: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all .5s;
}

.user-menu__link svg {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.user_logut {
  display: flex;
  align-items: center;
}

.flag_icons {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

.btn_search button {
  padding: 10px 16px;
  margin-left: 5px;
  border: 1px solid #d6d6d6;
  background: #222;
  color: #fff;
  border-radius: 5px;
}

.search_res {
  border: 1px solid #fff;
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%), 0 24px 38px 3px rgb(0 0 0 / 4%), 0 11px 15px -7px rgb(0 0 0 / 5%);
  width: 100%;
}

.search_res a {
  text-decoration: none;
}

.search_content {
  display: flex;
}

.search_content:hover p {
  color: #f65e39;
}

.search_content img {
  width: 50px;
  height: 50px;
}

.search_content-p {
  margin-bottom: 10px;
}

.search_content p {
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 10px;
  color: #222;
}

.app-menu {
  color: white;
  height: 100vh;
  width: 20rem;
  background-color: #292929;
  z-index: 200;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  padding: 20px;
}
.app-menu ul{
  list-style-type: none;
  padding: 0;
}
.app-menu ul li{
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}
.app-menu ul li a{
  text-decoration: none;
  color: #fff;
}

.menu-open {
  transform: translateX(0%);
}

.header-mobile {
  display: none;
}

.menu-mb {
  display: flex;
  justify-content: space-between;
}

.menu-svg {
  width: 70px;
  text-align: center;
  align-self: center;
}

.menu-svg svg {
  font-size: 36px;
}

@media only screen and (max-width: 991px) {
  .header-web {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .input_header {
    width: 300px;
  }
}